<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% if site.default_column == "two" %}  

  <div class="page-content col-sm-8">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Kad002 -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-1903888574571147"
     data-ad-slot="3747251083"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
  
    {{ content }}
    {% include post_pagination.html %}
  </div>
  {% include sidebar.html %}

  {% else %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include post_pagination.html %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
